/* Custom Class-less version for React */

// Set the root element
$semantic-root-element: "#root";

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true;

// Enable .classes
$enable-classes: false;

// Import Pico
@import "@picocss/pico/scss/pico";

img {
    width: 200px; /* Set the width */
    height: auto; /* Maintain the aspect ratio */
  }